{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}MyStore{% endblock  %}</title>
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  {% block extra_css %}
  {% endblock  %}
</head>
<body>

  <header class="navbar">
    {% include "store/components/header.html" %}
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    © 2026 MyShop — навчальний проект Django
  </footer>
    <script src="{% static "js/script.js" %}"></script>
    {% block extra_js %}{% endblock  %}

  </body>
  </html>

  {% comment %} <header>Header</header>
  

  <main>
    {% block content %}

    {% endblock %}
  </main>

  <footer>Footer</footer>
  {% block extra_js %}{% endblock  %} {% endcomment %}